<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" name="keywords">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>zeev.io</title>
  </head>
  <body>
    <script src="https://zeev-x.github.io/js/json/index.js"></script>
    <div id="audio"></div>
    <nav>
      <button onclick="alert('loh ga bahaya tah?);" id="logo">Welcome</button>
      <ul>
        <li><button id="btn_home" onclick="home()">Home</button></li>
        <li><button id="btn_about" onclick="about()">About</button></li>
        <div id="audio"></div>
      </ul>
    </nav>
    <div class="content">
      <div id="con_home">
         <div id="result"></div>
      </div>
      <div id="con_about">
        <h3>1.About Zeev-x</h3>
        <p><a class="clr" href="https://github.com/Zeev-x/">Zeev-x</a> is a beginner website designer who still needs to learn a lot about designing websites, so if you want to provide input, I will really appreciate it and I'm very grateful for your input. You can find a repository that doesn't know what it's used for on <a class="clr" href="https://github.com/Zeev-x/">Zeev-x's Github</a>.</p>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>